body{
    background-image: url("");
    background-color: snow;
}

.nav-bar{
    display: flex;
    padding: 1rem 2rem;
}

.logo{
    align-items: left;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 50rem;
}

.nav-item{
    margin: 0px 15px;

}

.nav-link{
    text-decoration: none;
    font-size: 1.5rem;
    color: midnightblue;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}  